@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Old+Mincho&display=swap");
html {
  scroll-behavior: smooth;
}

body.open {
  height: 100vh;
  overflow: hidden;
}

body,
a {
  color: #000000;
  font-family: "Noto Serif JP", serif;
}

a {
  transition: 0.3s;
  text-decoration: none;
}
a:hover {
  transition: 0.3s;
  opacity: 0.7;
}

img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

main {
  position: relative;
  height: 100dvh;
}

section {
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
}

/* 上から下にスクロールした時のアクティブなセクションの1個前のセクション */
.out_to_top {
  animation: outToTopBg 1s forwards;
}

@keyframes outToTopBg {
  0% {
    animation-timing-function: cubic-bezier(0.12, 0.07, 0.55, -0.06);
    transform-origin: center;
  }
  65% {
    opacity: 1;
    transform: scale3d(0.9, 0.9, 0.9) translate3d(2.5%, -14%, 0);
    animation-timing-function: cubic-bezier(0.12, 0.07, 0.55, -0.06);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8) translate3d(25%, -140%, 0);
  }
}
/* 上から下にスクロールした時のアクティブなセクション */
.in_from_top {
  animation: inFromTopBg 0.8s ease-out forwards;
}

@keyframes inFromTopBg {
  0% {
    transform: scale3d(0.85, 0.85, 0.85) translate3d(25%, -140%, 0);
    /* 右上から */
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform-origin: center;
    opacity: 0;
  }
  80% {
    transform: scale3d(0.85, 0.85, 0.85) translate3d(5%, -28%, 0);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/* 下から上にスクロールした時のアクティブなセクション */
.in_from_bottom {
  animation: inFromBottomBg 0.8s forwards;
}

@keyframes inFromBottomBg {
  0% {
    transform: scale3d(0.85, 0.85, 0.85) translate3d(-25%, 140%, 0);
    /* 左下から */
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform-origin: center;
  }
  80% {
    transform: scale3d(0.85, 0.85, 0.85) translate3d(-5%, 28%, 0);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/* 下から上にスクロールした時のアクティブなセクションの次のセクション */
.out_to_bottom {
  animation: outToBottomBg 0.8s ease-out forwards;
}

@keyframes outToBottomBg {
  from {
    animation-timing-function: cubic-bezier(0.12, 0.07, 0.55, -0.06);
    transform-origin: center;
  }
  65% {
    opacity: 1;
    transform: scale3d(0.9, 0.9, 0.9) translate3d(-2.5%, 14%, 0);
    animation-timing-function: cubic-bezier(0.12, 0.07, 0.55, -0.06);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8) translate3d(-25%, 140%, 0);
  }
}
/* アニメーション適用用クラス */
.current_sec {
  opacity: 1;
  visibility: visible;
}

.hidden_sec {
  opacity: 0;
  visibility: hidden;
}

.fixed-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 7px;
}
@media screen and (max-width: 1200px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu li {
  padding-right: 25px;
  position: relative;
}
@media screen and (max-width: 1520px) {
  .fixed-menu li {
    padding-right: 20px;
  }
}
.fixed-menu li::after {
  content: "●";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  transition: color 0.3s ease;
}
@media screen and (max-width: 1520px) {
  .fixed-menu li::after {
    font-size: 0.8vw;
  }
}
.fixed-menu li a {
  color: #fff;
  font-size: 0.8vw;
}
.fixed-menu li.active::after {
  color: #9C2D2E;
}

.common-btn {
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #FFFFFF;
  font-size: max(1vw, 12px);
  font-weight: 600;
  display: block;
  max-width: 392px;
  width: 55%;
  margin-inline: auto;
  padding-block: 2%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .common-btn {
    width: 35%;
    padding-block: 1.5%;
  }
}
@media screen and (max-width: 500px) {
  .common-btn {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .common-btn {
    font-size: 10px;
  }
}
.common-btn::before {
  content: "";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  aspect-ratio: 2/1;
  background: url(/assets/image/btn-arrow.webp) no-repeat center center/contain;
}
.common-btn--black {
  border: 1px solid #0A0B0A;
  background: none;
  color: #0A0B0A;
}
.common-btn--black::before {
  background: url(/assets/image/btn-arrow-black.webp) no-repeat center center/contain;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #9C2D2E;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.3%;
  padding-inline: 3.4% 3.9583%;
}
@media screen and (max-width: 1520px) {
  header {
    padding-block: 1%;
  }
}
@media screen and (max-width: 1200px) {
  header {
    padding-inline: 3%;
  }
}
header .logo {
  flex: 0 0 23%;
  aspect-ratio: 25/3;
  height: auto;
}
@media screen and (max-width: 1520px) {
  header .logo {
    flex: 0 0 20%;
  }
}
@media screen and (max-width: 1200px) {
  header .logo {
    flex: 0 0 30%;
  }
}
@media screen and (max-width: 768px) {
  header .logo {
    flex: 0 0 35%;
  }
}
@media screen and (max-width: 500px) {
  header .logo {
    flex: 0 0 45%;
  }
}
@media screen and (max-width: 400px) {
  header .logo {
    flex: 0 0 50%;
  }
}
header .logo a {
  display: block;
  height: 100%;
}
header .logo a img {
  width: auto;
  height: 100%;
}
header ul {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  -moz-column-gap: 4.5%;
       column-gap: 4.5%;
}
@media screen and (max-width: 1200px) {
  header ul {
    display: none;
  }
}
header ul li {
  height: -moz-fit-content;
  height: fit-content;
}
header ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  font-size: max(0.95vw, 14px);
  font-weight: 700;
  line-height: normal;
}
header .toggle-button {
  display: none;
  padding: 10px;
}
@media screen and (max-width: 1200px) {
  header .toggle-button {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  header .toggle-button {
    padding: 5px;
  }
}
header .toggle-button__hamburger {
  position: relative;
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 768px) {
  header .toggle-button__hamburger {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 500px) {
  header .toggle-button__hamburger {
    width: 20px;
    height: 20px;
  }
}
header .toggle-button__hamburger span {
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.4s;
}
header .toggle-button__hamburger span:first-child {
  top: 20%;
}
header .toggle-button__hamburger span:nth-child(2) {
  top: calc(50% - 1px);
}
header .toggle-button__hamburger span:last-child {
  bottom: 20%;
}
header .toggle-button.open span {
  transition: all 0.4s;
}
header .toggle-button.open span:first-child {
  top: calc(50% - 1px);
  transform: rotateZ(45deg);
}
header .toggle-button.open span:nth-child(2) {
  display: none;
}
header .toggle-button.open span:last-child {
  top: calc(50% - 1px);
  transform: rotateZ(-45deg);
}

.header-menu {
  z-index: 20;
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: #00489D;
  transition: all 0.4s;
  padding-top: 100px;
  padding-left: 4%;
}
@media screen and (max-width: 768px) {
  .header-menu {
    width: 70%;
    left: -70%;
  }
}
@media screen and (max-width: 500px) {
  .header-menu {
    padding-top: 75px;
  }
}
.header-menu li {
  margin-bottom: 55px;
}
@media screen and (max-width: 500px) {
  .header-menu li {
    margin-bottom: 35px;
  }
}
.header-menu a {
  color: #fff;
  font-size: 2.4vw;
}
@media screen and (max-width: 500px) {
  .header-menu a {
    font-size: 14px;
  }
}
.header-menu.open {
  left: 0;
  transition: all 0.4s;
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
}
.black-bg.open {
  opacity: 0.3;
  visibility: visible;
}

.footer {
  position: absolute;
  right: 1%;
  bottom: 2%;
}
@media screen and (max-width: 400px) {
  .footer {
    right: 0.5%;
  }
}
.footer__copyright {
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  font-size: max(0.7vw, 10px);
}
@media screen and (max-width: 400px) {
  .footer__copyright {
    font-size: 8px;
  }
}

.fv {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .fv {
    flex-direction: column;
  }
}
.fv__left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%;
  padding-top: 5%;
  padding-inline: 5%;
  background: url(/assets/image/fv-bg-left.webp) no-repeat center center/cover;
}
@media screen and (max-width: 1024px) {
  .fv__left {
    padding-top: 10%;
  }
}
.fv__left-supplement {
  text-align: center;
  color: #fff;
  font-size: 1.4vw;
  font-weight: 300;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .fv__left-supplement {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  .fv__left-supplement {
    font-size: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .fv__left-supplement {
    font-size: 3vw;
  }
}
.fv__left-title {
  text-align: center;
  font-family: "Zen Old Mincho", serif;
  color: #fff;
  font-size: 4.05vw;
  margin-block: 3% 1%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .fv__left-title {
    margin-top: 2%;
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 500px) {
  .fv__left-title {
    font-size: 8.5vw;
  }
}
@media screen and (max-width: 400px) {
  .fv__left-title {
    font-size: 7.5vw;
  }
}
.fv__left-subtitle {
  text-align: center;
  color: #fff;
  font-size: 1.7vw;
  font-weight: 700;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .fv__left-subtitle {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  .fv__left-subtitle {
    font-size: 4vw;
  }
}
@media screen and (max-width: 400px) {
  .fv__left-subtitle {
    font-size: 3.5vw;
  }
}
.fv__left-img {
  margin-block: 6% 4%;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .fv__left-img {
    margin-block: 4% 3%;
    width: 55%;
    margin-inline: auto;
  }
}
@media screen and (max-width: 500px) {
  .fv__left-img {
    width: 85%;
  }
}
@media screen and (max-width: 400px) {
  .fv__left-img {
    width: 75%;
  }
}
.fv__right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%;
  padding-top: 5%;
  padding-inline: 3% 6%;
  background: url(/assets/image/fv-bg-right.webp) no-repeat center center/cover;
}
@media screen and (max-width: 400px) {
  .fv__right {
    padding-top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .fv__right .common-btn {
    margin-left: 7%;
  }
}
.fv__right-title {
  font-size: 3.1vw;
  margin-bottom: 3%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .fv__right-title {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 500px) {
  .fv__right-title {
    font-size: 6.5vw;
  }
}
@media screen and (max-width: 400px) {
  .fv__right-title {
    font-size: 5.5vw;
  }
}
.fv__right-title span {
  color: #9C2D2E;
}
.fv__right-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: max(0.85vw, 12px);
  line-height: 1.1875;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  .fv__right-text {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .fv__right-text {
    font-size: 11px;
  }
}
.fv__right-img {
  margin-block: 9% 5%;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .fv__right-img {
    width: 65%;
    margin-block: 6% 4%;
  }
}
@media screen and (max-width: 500px) {
  .fv__right-img {
    width: 95%;
  }
}
@media screen and (max-width: 400px) {
  .fv__right-img {
    width: 90%;
    margin-top: 4%;
  }
}
.fv__transparent {
  position: absolute;
  left: 0;
  top: 10%;
  width: 10%;
  z-index: 0;
}
.fv__transparent--big {
  left: -1%;
  top: 11%;
  width: 13%;
}

.learning {
  background: url(/assets/image/learning-bg.webp) no-repeat center center/cover;
  padding: 0% 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .learning {
    width: 100%;
    padding: 0;
  }
}
.learning__content {
  background: #E5E9EB;
  padding-inline: 11.5%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .learning__content {
    padding-inline: 6%;
  }
}
.learning__subtitle {
  text-align: center;
  color: #94224C;
  font-size: 1.85vw;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .learning__subtitle {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 500px) {
  .learning__subtitle {
    font-size: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .learning__subtitle {
    font-size: 4vw;
  }
}
.learning__title {
  margin-block: 1.5%;
  text-align: center;
  font-size: 2.1vw;
}
.learning__title br {
  display: none;
}
@media screen and (max-width: 768px) {
  .learning__title {
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 500px) {
  .learning__title {
    font-size: 3.4vw;
  }
}
@media screen and (max-width: 400px) {
  .learning__title {
    font-size: 4.5vw;
    margin-block: 3%;
    line-height: 140%;
  }
  .learning__title br {
    display: block;
  }
}
.learning__supplement {
  text-align: center;
  color: #14376C;
  font-size: 1vw;
}
@media screen and (max-width: 768px) {
  .learning__supplement {
    font-size: 1.7vw;
  }
}
@media screen and (max-width: 500px) {
  .learning__supplement {
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 400px) {
  .learning__supplement {
    font-size: 3vw;
  }
}
.learning__cards {
  margin-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 3vh;
}
@media screen and (max-width: 1024px) {
  .learning__cards {
    row-gap: 2vh;
  }
}
@media screen and (max-width: 768px) {
  .learning__cards {
    row-gap: 1vh;
  }
}
@media screen and (max-width: 400px) {
  .learning__cards {
    display: none;
  }
}
.learning__card {
  flex: 0 0 18.4%;
  aspect-ratio: 1/1;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .learning__card {
    flex: 0 0 23.5%;
  }
}
@media screen and (max-width: 768px) {
  .learning__card {
    flex: 0 0 32%;
  }
}
@media screen and (max-width: 500px) {
  .learning__card {
    flex: 0 0 48%;
    aspect-ratio: 1/0.7;
  }
}
.learning__card:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.7;
}
.learning__card-banner {
  padding-block: 5%;
  text-align: center;
  color: #fff;
  font-size: 0.9vw;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .learning__card-banner {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 768px) {
  .learning__card-banner {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 500px) {
  .learning__card-banner {
    font-size: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .learning__card-banner {
    font-size: 3.5vw;
  }
}
.learning__card-banner--red {
  background: #EF8572;
}
.learning__card-banner--yellow {
  background: #EBB840;
}
.learning__card-banner--yellow-green {
  background: #86C469;
}
.learning__card-banner--purple {
  background: #B688BB;
}
.learning__card-banner--orange {
  background: #F39E5D;
}
.learning__card-banner--blue {
  background: #80B1DF;
}
.learning__card-banner--green {
  background: #63C0AB;
}
.learning__card-banner--pink {
  background: #EF90AA;
}
.learning__card-banner--bright-blue {
  background: #76C9D4;
}
.learning__card-title {
  margin-block: 8%;
  text-align: center;
  font-size: 0.9vw;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .learning__card-title {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 768px) {
  .learning__card-title {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 500px) {
  .learning__card-title {
    font-size: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .learning__card-title {
    font-size: 3.5vw;
  }
}
.learning__card-title--red {
  color: #EF8572;
}
.learning__card-title--yellow {
  color: #EBB840;
}
.learning__card-title--yellow-green {
  color: #86C469;
}
.learning__card-title--purple {
  color: #B688BB;
}
.learning__card-title--orange {
  color: #F39E5D;
}
.learning__card-title--blue {
  color: #80B1DF;
}
.learning__card-title--green {
  color: #63C0AB;
}
.learning__card-title--pink {
  color: #EF90AA;
}
.learning__card-title--bright-blue {
  color: #76C9D4;
}
.learning__card-img {
  height: 30%;
  text-align: center;
}
.learning__card-img img {
  height: 100%;
}
.learning__card-btn {
  margin-block: 8% 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (max-width: 1024px) {
  .learning__card-btn {
    gap: 4px;
  }
}
@media screen and (max-width: 768px) {
  .learning__card-btn {
    gap: 2px;
  }
}
.learning__card-btn p {
  color: #C1C1C1;
  font-size: max(0.7vw, 10px);
  font-weight: 600;
}
.learning__card-btn div {
  flex: 0 0 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .learning__card-btn div {
    flex: 0 0 7px;
    margin-top: 4px;
  }
}
.learning .common-btn {
  margin-top: 5%;
  padding-block: 1.5%;
}
@media screen and (max-width: 400px) {
  .learning .common-btn {
    padding-block: 2%;
    width: 60%;
    font-size: 11px;
  }
}
.learning .slider {
  display: none;
  max-width: 307px;
  margin: 20px auto;
}
@media screen and (max-width: 400px) {
  .learning .slider {
    display: block;
  }
}
.learning .slider--2 {
  margin-top: 0;
}
.learning .slider .slick-track .slick-slide {
  max-width: 100%;
  margin-right: 1vw !important;
  margin-left: 1vw !important;
}
.learning .slider .slick-track .slick-slide .learning__card-img img {
  margin-inline: auto;
}

.learning-popup {
  display: none;
  /* 初期状態ではポップアップ全体を非表示 */
}
.learning-popup__bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.learning-popup__card {
  display: none;
  /* 各ポップアップカードも非表示 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  margin-inline: auto;
  z-index: 30;
}
@media screen and (max-width: 500px) {
  .learning-popup__card {
    width: 350px;
  }
}
.learning-popup__card-banner {
  padding-block: 19px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
@media screen and (max-width: 500px) {
  .learning-popup__card-banner {
    font-size: 18px;
  }
}
.learning-popup__card-banner--red {
  background: #EF8572;
}
.learning-popup__card-banner--yellow {
  background: #EBB840;
}
.learning-popup__card-banner--yellow-green {
  background: #86C469;
}
.learning-popup__card-banner--purple {
  background: #B688BB;
}
.learning-popup__card-banner--orange {
  background: #F39E5D;
}
.learning-popup__card-banner--blue {
  background: #80B1DF;
}
.learning-popup__card-banner--green {
  background: #63C0AB;
}
.learning-popup__card-banner--pink {
  background: #EF90AA;
}
.learning-popup__card-banner--bright-blue {
  background: #76C9D4;
}
.learning-popup__card-banner img {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.learning-popup__card-banner img:hover {
  transition: 0.3s;
  opacity: 0.7;
}
@media screen and (max-width: 500px) {
  .learning-popup__card-banner img {
    right: 10px;
  }
}
.learning-popup__white-bg {
  background: #fff;
  padding: 20px 20px 40px;
}
.learning-popup__card-img {
  margin-bottom: 32px;
}
@media screen and (max-width: 500px) {
  .learning-popup__card-img {
    margin-bottom: 23px;
  }
}
.learning-popup__card-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 14px;
}
@media screen and (max-width: 500px) {
  .learning-popup__card-title {
    font-size: 20px;
  }
}
.learning-popup__card-title--red {
  color: #EF8572;
  border-bottom: 1px solid #EF8572;
}
.learning-popup__card-title--yellow {
  color: #EBB840;
  border-bottom: 1px solid #EBB840;
}
.learning-popup__card-title--yellow-green {
  color: #86C469;
  border-bottom: 1px solid #86C469;
}
.learning-popup__card-title--purple {
  color: #B688BB;
  border-bottom: 1px solid #B688BB;
}
.learning-popup__card-title--orange {
  color: #F39E5D;
  border-bottom: 1px solid #F39E5D;
}
.learning-popup__card-title--blue {
  color: #80B1DF;
  border-bottom: 1px solid #80B1DF;
}
.learning-popup__card-title--green {
  color: #63C0AB;
  border-bottom: 1px solid #63C0AB;
}
.learning-popup__card-title--pink {
  color: #EF90AA;
  border-bottom: 1px solid #EF90AA;
}
.learning-popup__card-title--bright-blue {
  color: #76C9D4;
  border-bottom: 1px solid #76C9D4;
}
.learning-popup__point {
  margin-block: 28px 19px;
  text-align: center;
  color: #333333;
  font-size: 22px;
}
@media screen and (max-width: 500px) {
  .learning-popup__point {
    font-size: 18px;
    margin-block: 20px 11px;
  }
}
.learning-popup__point-text {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.88;
  font-size: 18px;
}
@media screen and (max-width: 500px) {
  .learning-popup__point-text {
    font-size: 14px;
  }
}
.learning-popup__point-text--red {
  color: #EF8572;
}
.learning-popup__point-text--yellow {
  color: #EBB840;
}
.learning-popup__point-text--yellow-green {
  color: #86C469;
}
.learning-popup__point-text--purple {
  color: #B688BB;
}
.learning-popup__point-text--orange {
  color: #F39E5D;
}
.learning-popup__point-text--blue {
  color: #80B1DF;
}
.learning-popup__point-text--green {
  color: #63C0AB;
}
.learning-popup__point-text--pink {
  color: #EF90AA;
}
.learning-popup__point-text--bright-blue {
  color: #76C9D4;
}
.learning-popup .common-btn {
  margin-top: 35px;
  width: 312px;
  padding-block: 15px;
}
@media screen and (max-width: 500px) {
  .learning-popup .common-btn {
    margin-top: 25px;
  }
}/*# sourceMappingURL=style.css.map */